
:root {
    --primary: rgb(132, 143, 165);
    --secondary: rgb(71, 91, 99);
    --tertiary: rgb(240, 236, 87);

}

/* general */
.bg-primary {
    background-color: var(--primary)!important;
}

.bg-secondary {
    background-color: var(--secondary)!important;
}

.bg-tertiary {
    background-color: var(--tertiary);
}

.text-primary {
    color: var(--secondary)!important;
}

.text-tertiary {
    color: var(--tertiary);
}

.mx-12 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.container {
    border-radius: 1rem;
    margin: 0;
    padding: 0;
}

.row {
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    cursor: pointer;
}

textarea {
    resize: none;
}

/* card */

.card {
    transition: all .3s;
    flex-direction: row;
}

#project .card:hover {
    transform: scale(1.05);
}

.card img {
    width: 33.3%;
    height: auto;
    background-size: cover;
    margin: 0 auto;
    padding: .5rem;
    border-radius: .75rem;
}

#skills .card-body {
    margin: 0;
    padding: 0;
}

/* image, svg */

a:hover svg {
    fill: var(--tertiary);
}

/* btn */

button:hover {
    box-shadow: 0px 2px 2px black;
    color: var(--tertiary)!important;
}

