
:root {
    --orange: rgb(251, 133, 0);
    --yellow: rgb(255, 183, 3);
    --dark-blue: rgb(2, 48, 71);
    --normal-blue: rgb(33, 158, 188);
    --light-blue: rgb(142, 202, 230);
}

/* general */
.bg-primary {
    background-color: var(--orange)!important;
}

.bg-secondary {
    background-color: var(--dark-blue)!important;
}

.text-primary {
    color: var(--dark-blue)!important;
}

.mx-12 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.container {
    border-radius: 1rem;
    margin: 0;
    padding: 0;
}

.row {
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    cursor: pointer;
}

/* card */

.card {
    transition: all .3s;
    flex-direction: row;
}

#project .card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 33.3%;
    background-size: cover;
    margin: 0 auto;
    padding: .5rem;
    border-radius: .75rem;
}

#skills .card-body {
    margin: 0;
    padding: 0;
}

/* image, svg */

a:hover svg {
    fill: var(--dark-blue);
}

button:hover {
    box-shadow: 0px 2px 2px black;
}

@media (min-width: 576px) {
    .w-xs-75 {
        width: 75%!important;
    }
}